.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
  mask-composite: intersect;
  mask-image: linear-gradient(to right, transparent, black 5rem), linear-gradient(to left, transparent, black 5rem),
    linear-gradient(to bottom, transparent, black 5rem), linear-gradient(to top, transparent, black 5rem);
}

.scroll-grid {
  margin: auto;
  display: grid;
  height: 250px;
  width: 300px;
  animation: skew-scroll 20s linear infinite;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.25rem;
}

.scroll-grid.sm-grid-cols-2 {
  width: 600px;
  grid-template-columns: repeat(2, 1fr);
}

.tilted-grid-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #222;
  padding: 1rem 1.25rem;
  box-shadow: 0 4px 6px rgba(146, 146, 146, 0.1);
  transition: 0.3s ease;
}

.tilted-grid-item:hover {
  transform: translate(-0.25rem, -0.25rem) scale(1.025);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.tilted-grid-item.dark {
  border-color: #fff;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 10px;
}

.item-text {
  color: #fff;
}

@keyframes skew-scroll {
  0% {
    transform: rotateX(20deg) rotateZ(-20deg) skewX(20deg);
  }
  100% {
    transform: rotateX(20deg) rotateZ(-20deg) skewX(20deg) translateY(-100%);
  }
}
