@font-face {
  font-family: 'NeueMachina';
  src: url('./NeueMachina-Regular_DQCmjH1st.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachina';
  src: url('./NeueMachina-Light_gwWCZxVuQl.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mokoto';
  src: url('./Mokoto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}