.component-nav-container {
  width: 100%;
  max-width: 1440px;
  height: auto; // Let the height adjust dynamically
  display: flex;
  flex-wrap: wrap; // Allow items to wrap when needed
  justify-content: center; // Center items horizontally
  margin-bottom: 1em;

  div {
    flex: 1 1 calc(20% - 10px); // Adjust the size based on container width
    max-width: 400px; // Maintain the max size
    aspect-ratio: 1 / 1; // Ensure items stay square
    height: auto; // Height is dictated by aspect ratio
    overflow: hidden;
    position: relative;

    .circle,
    .square {
      cursor: pointer;
      border: 5px solid;
      background-color: #0d0d0d;
      transition: 0.3s ease;

      &::before {
        content: "";
        letter-spacing: -2px;
        font-size: 24px;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        z-index: 5;
        background: linear-gradient(to top, #0d0d0d, #0d0d0da7);
        font-weight: 900;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: 0.3s ease;
      }

      &:hover {
        &::before {
          opacity: 1;
          top: 50%;
          transition: 0.3s ease;
        }
      }
    }

    .square {
      border-radius: 50px;
    }

    .circle {
      border-radius: 50%;
    }

    .link {
      border-color: #00d8ff;
      background-color: #00d8ff;

      &::before {
        display: none;
      }
    }

    .feat-1 {
      border-color: #ff87b2;

      &:hover {
        transform: scale(0.95);
        transition: 0.3s ease;
      }

      &::before {
        content: "<Hyperspeed />";
      }
    }

    .feat-2 {
      border-color: #ff9346;

      &:hover {
        transform: scale(0.95);
        transition: 0.3s ease;
      }

      &::before {
        content: "<Waves />";
      }

      .content {
        transform: scale(0.7);
      }
    }

    .feat-3 {
      border-color: #7cff67;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &::before {
        content: "<ShinyText />";
      }

      &:hover {
        transform: scale(0.95);
        transition: 0.3s ease;
      }

      p {
        position: absolute;
        z-index: 4;
        color: #7cff67;
        font-size: 3rem;
        font-weight: 900;
      }

      .shiny-text,
      .animated-gradient-text {
        white-space: nowrap !important;
        flex: none !important;
        width: fit-content !important;
        max-width: none !important;
        aspect-ratio: 0;
      }

      .animated-gradient-text {
        margin-top: 20px;
        height: 38px;
        display: block;
      }
    }

    .feat-4 {
      border-color: #ffee51;

      &:hover {
        transform: scale(0.95);
        transition: 0.3s ease;
      }

      &::before {
        content: "<Squares />";
      }
    }
  }

  .link {
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #0d0d0d;
    display: flex;
    align-items: center;
    justify-content: center;

    .docs-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;

      img {
        margin-bottom: 0.6em;
        width: 16px;
      }
    }

    &:hover {
      .docs-link {
        transform: scale(1.2);
        transition: transform 0.3s ease;
      }
    }
  }
}

// Media query for smaller screens
@media (max-width: 1024px) {
  .component-nav-container {
    .circle,
    .square {
      display: none !important;
    }
  }
}
