.landing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  padding: 0 4em;

  .type-logo {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1440px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

    svg {
      width: 100%;
      height: auto;
    }
  }

  .hero-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top: -50px;

    .headline {
      margin-top: 1em;
      font-size: 22px;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .landing-bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .divider {
          margin-bottom: 1.5em;
          width: 30%;
          height: 1px;
          background: linear-gradient(to right, transparent, #fff, transparent);
        }
      }

      .landing-button {
        cursor: pointer;
        min-width: 250px;
        font-weight: 500;
        background-color: #0d0d0d;
        border: 1px solid #222;
        font-size: 18px;
        padding: 1em;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;
        box-shadow: 0 5px 0 transparent;

        &:hover {
          transform: scale(0.95) rotate(-5deg);
          text-decoration: none;
          border-color: #00d8ff;
          box-shadow: 0 5px 0 #00d8ff;
        }

        .button-divider {
          height: 25px;
          width: 1px;
          margin: 0 0.6em;
          background-color: #a6a6a6;
        }

        img {
          margin-right: 0.5em;
          transition: 0.3s ease;
        }

        span {
          font-size: 16px;
          color: #00d8ff;
          font-weight: 700;
        }

        .chakra-spinner span {
          display: none !important;
        }
      }

      .docs-button {
        display: none;
        margin-top: 0.5em;
        box-shadow: inset 0 0 20px #00d9ff79;
      }

      p {
        line-height: 120%;
        font-weight: 400;
        font-size: 22px;
        color: #fff;
        max-width: 25ch;
        position: relative;

        &::before {
          content: "Now With CLI Support!";
          animation: shake 1s linear infinite;
          font-weight: 700;
          position: absolute;
          left: 0;
          bottom: -4em;
          background-color: #060606;
          border: 1px solid #222;
          transform: rotate(-5deg);
          padding: 0.5em 1.25em;
          font-size: 12px;
          border-radius: 20px;
        }

        span {
          color: #00d8ff;
        }
      }
    }
  }

  .perspective-grid {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 0.4;
    z-index: 0;

    &::before,
    &::after {
      content: "";
      width: 100%;
      position: absolute;
      left: 0;
    }

    &::before {
      height: 400px;
      top: 0;
      background: linear-gradient(to bottom, #060606, transparent);
    }

    &::after {
      height: 200px;
      bottom: 0;
      background: linear-gradient(to top, #060606, transparent);
    }
  }

  .vertical {
    stroke: #b3b3b3;
    stroke-width: 1.36;
  }

  .beam {
    stroke: #00d8ff;
    stroke-width: 3px;
    border-radius: 50px;
    stroke-dasharray: 100 1000;
    animation: beamAnimation 2s linear infinite;
  }

  .author {
    margin-top: 6em;
    justify-self: flex-end;
    opacity: 1;
    color: #a6a6a6;
    padding-bottom: 4em;
    z-index: 1;
  }
}

@media (max-width: 1024px) {
  .landing-wrapper {
    justify-content: flex-start;
    padding: 0 2em;

    .type-logo {
      margin-top: 160px;
    }

    .author {
      position: absolute;
      bottom: 0;
    }

    .perspective-grid {
      bottom: 30%;
    }

    .hero-info {
      top: -5px;
      flex-direction: column-reverse;

      .headline {
        text-align: center;

        .landing-bottom {
          flex-direction: column;
          gap: 1em;

          p::before {
            display: none !important;
          }
        }

        .divider {
          margin: 1em 0 2em;
        }

        .landing-button {
          min-width: 500px;

          &:hover {
            transform: scale(0.95);
            border-color: #222;
            box-shadow: none;
          }
        }

        .docs-button {
          display: flex;
        }
      }
    }
  }
}

@media (max-width: 585px) {
  .landing-wrapper {
    .hero-info {
      .headline {
        font-size: 24px;

        .landing-button {
          min-width: 100%;
          width: 100%;
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 455px) {
  .landing-wrapper {
    .hero-info {
      .headline {
        font-size: 18px;
      }
    }
  }
}

@keyframes beamAnimation {
  0% {
    opacity: 1;
    stroke-dashoffset: 1000;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 0;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
